$text-color: #68717c;
$blue: #2d74da;
$dark-blue: #2367c8;
$orange: #fa5e5b;
$header-color: #1b2834;
$border-color: #d4d8db;
$warning-color: #fa5e5b;
$success-color: #16c98d;
$heighlight-color: #488edf;
